body {
  background-color: black;
}

.navbar {
  background-color: black;

}

/* .navlink{
    color: antiquewhite;
} */

.nav-brand {
  text-align: center;
}

.namecenter {
  text-align: center;
}


.navbar-brand {
  opacity: 0.91;
}

.bottomAnim {
  border: none;
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
  background: #000000 url("bg.gif") left repeat-x;
  background-size: auto;
  background-position: top;
  z-index: -1;
}

/* 
  .ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  } */



.typehead {
  margin-top: 4.1cm;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 1.15cm;
}

.about {
  color: white;
  page-break-before: always;

}

.aboutheading {
  text-align: center;
  color: white;
  text-decoration: underline rgb(0, 183, 255);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.chevron {
  position: absolute;
  width: 5rem;
  height: 0.5rem;
  opacity: 0;
  transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }

  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }

  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }

  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }

  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}


#profile {
  border-radius: 50%;
  height: 6cm;
  width: 6cm;

}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.row .col .card-body {
  background-color: black;
}

.footer {
  height: 8.5rem;
  color: white;
  background-color: rgb(32, 33, 34);
  margin-bottom: 0px;
  background-image: url("bg.gif");
}

.footercopyright p {
  bottom: 3px;
  opacity: 0.5;
  color: aliceblue;

}

.footerlink a {
  font-size: 1cm;
  padding: 15px;
  color: aliceblue;
}

.jumbotron {
  height: 370px;
  width: 600px;
  padding: 25px;
  background: #a4d4e0;
  border-radius: 25px;
  box-shadow: 0px 2px 35px rgba(185, 201, 250, 0.25);
}

.jumbotron h1 {
  color: rgb(32, 33, 34);
}

.align-right {
  padding-top: 10px;
}

.card>.cardtitle {
  margin-top: -100px;


}

.cardtitle>h1 {
  color: white;
  border: rgb(32, 33, 34);
}

.skills {
  margin-top: 100px;
  text-align: center;
}
.gitstatus {
  text-align: center;
}

.gitstatus h2 {
  padding: 10px;
  color: white;
  border-bottom: 5px solid #006fc9;
  display: inline-block;
}
.skills h2 {
  padding: 10px;
  color: white;
  border-bottom: 5px solid #006fc9;
  display: inline-block;
}
.skills .skill img {
  height: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.skills .skill p {
  margin: 0;
  color: #666666;
  font-size: 50px;
}

.skills .skill div {
  min-width: 250px;


}

.Django {
  width: 100px;
  height: auto;
}

.work {
  margin-top: 100px;
  text-align: center;
}

.work h2 {
  padding: 10px;
  color: white;
  border-bottom: 5px solid #006fc9;
  display: inline-block;
}

.work .project {
  position: relative;
  -webkit-box-shadow: 0px 0px 30px 0.1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 30px 0.1px rgba(0, 0, 0, 0.25);
  text-align: center;
  
  color: white;
}

.work .project img {
  width: 100%;
  background-color: black;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.work .project .overlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: transparent;
}
.work .project .links{
  background-color: #000000;
  opacity: 0.9;
  color: white;
  display: flex;
  text-align: center;
  text-align: center;
  font-size: 70px;
  align-items: center;
  
}
.work .project .links :hover{

  color: rgb(0, 74, 235);
  
}
.work .project .links a{
  color: aliceblue;
  padding: 10px;
  
  
}



.work .title {
  color: rgb(255, 255, 255);
  opacity: 0.6;
  padding: 5px 0px;
}

.work .project:hover .overlay {
  opacity: 1;
}

.work .project:hover img {
  
  -webkit-filter: grayscale(80%)  blur(1px); 
  filter: grayscale(80%) blur(1px);
}